/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General */
body {
    font-family: 'Montserrat', sans-serif;
}

/*? Main */
main {
    background-image: linear-gradient(#009688, #d9dbd5, #d9dbd5, #d9dbd5);
    height: 100vh;
}

.container {
    height: 100%;
    padding: 20px 0;
}

/* Main Box */
.main-box {
    height: 100%;
    width: 100%;

    display: flex;
}

/* Sidebar */
.sidebar {
    flex-basis: calc(100% / 1/3);

    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}

.sidebar-header {
    flex-basis: calc(100% / 1/3);
    background-color: greenyellow;
    flex-shrink: 0;
}

.sidebar-main {
    flex-grow: 1;
    background-color: khaki;
    overflow: auto;
}

/* Main Section */
.main-section {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
}

.section-header {
    flex-basis: 80px;
    background-color: seagreen;
    flex-shrink: 0;
}

.chat {
    flex-grow: 1;
    background-color: salmon;
    overflow: auto;
}

.actions {
    flex-basis: 80px;
    flex-shrink: 0;
    background-color: sandybrown;
}