/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General */
body {
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(#009688 15%, #d9dbd5 15%);
    height: 100vh;
}

.container {
    height: 100%;
    padding: 20px 0;
}

/*? Main */
main {
    height: 100%;

    display: flex;
}

/** Sidebar */
.sidebar {
    flex-basis: calc(100% / 1/3);
    border-right: 1px solid black;

    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}

/* Sidebar Header */
.sidebar-header {
    flex-basis: calc(100% / 1/3);
    flex-shrink: 0;

    display: flex;
    flex-direction: column;
}

/* Header Info */
.header-info {
    height: 80px;
    background-color: #eaeaea;

    display: flex;
    justify-content: space-between;
}

.info-media {
    display: flex;
}

.info-media figure {
    height: 80px;
    flex-shrink: 0;
}

.info-media h5 {
    line-height: 80px;
    margin: 0;
}

.info-media img {
    width: 60px;
    border-radius: 50%;
    margin: 10px;
}

.info-actions {
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.info-actions i {
    font-size: 30px;
    cursor: pointer;
    color: #b1b1b1;
}

/* Header Alert */
.header-alert {
    flex-grow: 1;
    background-color: fuchsia;
}

/* Header Search */
.header-search {
    flex-basis: 80px;
    background-color: darkorange;
}

/* Sidebar Main */
.sidebar-main {
    flex-grow: 1;
    background-color: khaki;
    overflow: auto;
}

/** Main Section */
.main-section {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Section Header */
.section-header {
    height: 80px;
    flex-shrink: 0;
    background-color: #eaeaea;

    display: flex;
    justify-content: space-between;
}

/* Chat */
.chat {
    flex-grow: 1;
    overflow: auto;
    background-color: salmon;
}

/* Actions */
.actions {
    flex-basis: 80px;
    flex-shrink: 0;
    background-color: sandybrown;
}